<nav class="navbar bg-dark navbar-dark justify-content-between mb-3">
    <a class="fa fa-home fa-2x text-white" [routerLink]="['/home']"></a>    
</nav>


<div class="container-fluid">
    <!-- Control the column width, and how they should appear on different devices -->
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <h2 class="text-center mb-3">Cadastre-se</h2>
            <app-input-mb3 type="email" placeholder="minoru@gmail.com" name="Email" id="txtEmail"></app-input-mb3>
            <app-input-mb3 type="password" placeholder="" name="Senha" id="pwdSenha"></app-input-mb3>
            <app-input-mb3 type="text" placeholder="12345678910" name="CPF" id="txtCpf"></app-input-mb3>
            <app-input-mb3 type="text" placeholder="" name="Nome Completo" id="txtNome"></app-input-mb3>
            <app-input-mb3 type="date" placeholder="" name="Data de Nascimento" id="dtNascimento"></app-input-mb3>
            <app-input-mb3 placeholder="" name="Telefone" id="txtTelefone"></app-input-mb3>

            <p class="text-center">
                <button type="submit" class="btn btn-primary btn-block mb-3">Criar seu Cadastro</button>
                <br>
                Já tem um cadastro?
                <a [routerLink]="['/login']">Entrar</a>
            </p>
        </div>
    </div>
</div>