<h2 class="text-danger">Minha Conta</h2>
<div>
    <a class="fa fa-user-circle-o fa-2x text-secondary" [routerLink]="['/minha-conta/cadastro']">
        <label class="h4 ml-2">cadastro</label>
    </a>
</div>
<div>
    <a class="fa fa-map-marker fa-2x ml-1 text-secondary" [routerLink]="['/minha-conta/endereco']">
        <label class="h4 ml-3">endereço</label>
    </a>
</div>
<!-- 
            <div>
                <a class="fa fa-credit-card fa-2x text-secondary">
                    <label class="h4 ml-3">cartões</label>
                </a>
            </div>
            -->