<h2 class="text-danger">Minha Conta</h2>
<div>
    <a class="fa fa-user-circle-o fa-lg text-secondary" [routerLink]="['/minha-conta/cadastro']">
        <label class="h4 ml-2">cadastro</label>
    </a>
</div>
<div>
    <a class="fa fa-map-marker fa-2x ml-2 text-secondary" [routerLink]="['/minha-conta/endereco']">
        <label class="h4 ml-2">endereço</label>
    </a>
</div>
<div>
    <a class="fa fa-credit-card fa-lg ml-1 text-secondary">
        <label class="h4 ml-3">cartões</label>
    </a>
</div>
<div>
    <a class="fa fa-ticket fa-2x ml-1 text-secondary">
        <label class="h4 ml-2">cupons</label>
    </a>
</div>
<div>
    <a class="fa fa-gift fa-2x ml-1 text-secondary">
        <label class="h4 ml-2">pedidos</label>
    </a>
</div>
<div>
    <button type="button" class="btn fa fa-times fa-2x h4 text-secondary">
        <label class="h4 ml-2">excluir conta</label>        
    </button>
</div>
<!-- 
            <div>
                <a class="fa fa-credit-card fa-2x text-secondary">
                    <label class="h4 ml-3">cartões</label>
                </a>
            </div>
            -->